.stepper {
  display: flex;
  align-items: center;
}

.stepper button {
  padding: 4px 8px;
  font-size: 18px;
  cursor: pointer;
}

.stepper input {
  width: 50px;
  text-align: center;
  justify-content: center;
  margin: 0 8px;
  font-size: 16px;
}
